<!DOCTYPE html>
<html>
<head>
	<title> Your Future</title>
</head>
<body background="C:\Users\Lenovo\Desktop\download.jpg">
	<h1>
		<b>
			<center>
				<i>
					<marquee>
						<ins> WELCOME TO YOUR FUTURE</ins>
					</marquee>
				</i>
			</center>
	</h1>

</body>
</html>